@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(6, 109, 129);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: "Open sans", sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

form input,
form label,
form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: var(--primary-color-darker);
}

.stats {
  display: flex;
}

.imc h2,
.resultado h2 {
  margin: 0 0 1rem 0;
}
.imc,
.resultado {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 50%;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

#peso {
  display: block;
}

input {
  font-size: 1.2rem;
  margin: 0.5rem 0 0.5rem 0;
  width: 100%;
  padding: 0.8rem;
  display: block;
}

#btn {
  margin-top: 2rem;
  font-weight: bold;
  color: #fff;
  background: var(--primary-color-darker);
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.486);
  cursor: pointer;
}

#btn:hover {
  background-color: rgb(44, 164, 188);
}

#btn:active {
  background-color: rgb(230, 19, 82);
}

.result {
  display: none;
}

.result p {
  background: rgb(64, 241, 132);
  padding: 3px;
}
